.chat-box {
    width: 300px;

    .chat-header {
        justify-content: space-between;
        background-color: var(--primary);
        color: aliceblue;
        border-radius: 5px 5px 0 0;
        padding: 10px 10px;
        .close-icon {
            cursor: pointer;
        }
    }
    .chat-messages {
        height: 200px;
        overflow: auto;
        border: 1px solid rgb(236, 231, 231);
        background-color: rgb(232, 236, 239);
        div {
            border-radius: 3px;
            max-width: 200px;
            margin: 0 10px;
        }
        .message_right {
            background-color: var(--primary);
            color: rgb(243, 237, 237);
            align-self: flex-end;
        }
        .message_left {
            align-self: flex-start;
            background-color: rgb(231, 223, 223);
            color: rgb(93, 93, 95);
        }
    }
    .chat-input {
        padding: 10px 20px;
        flex-wrap: nowrap;
        border: 1px solid rgb(236, 231, 231);
        color: aliceblue;
    }
}
