.dropdown {
    position: relative;
    .dropdown-menu {
        position: absolute;
        width: 200px;
        right: 0;
        top: 50px;
        border-radius: 1px;
        box-shadow: rgba(0, 0, 0, 0.08) 4px 4px 16px;
        z-index: 101;
        list-style: none;
        li {
            color: black;
            padding: 5px 20px;
            .link {
                display: block; // Đảm bảo chiếm toàn bộ `li`
                width: 100%; // Tránh bị lệch
                height: 100%;
                color: inherit; // Kế thừa màu từ `li`

                &:hover {
                    background-color: inherit; // Giữ hover từ `li`
                    color: inherit;
                }
            }
            &:hover {
                background-color: var(--primary);
                color: var(--white);
            }
            .icon {
                padding: 0 5px;
            }
        }
    }
}
