.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    min-height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
    cursor: pointer;
    .profile {
        cursor: default !important  ;
        display: flex;
        .profile-name {
            padding: 0 5px;
        }
        .profile-role {
            font-size: 1rem;
            color: red;
        }
    }
}
.actions > * {
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
}
@media (max-width: 768px) {
    .inner {
        flex-direction: column; // Chuyển thành dạng dọc trên tablet
        align-items: center;
    }

    .actions {
        margin-top: 10px; // Tạo khoảng cách giữa search và actions
    }
}
